
        ul{
            display: flex;
            list-style-type: none;
            gap: 10px;
        }
        a{
            text-decoration: none;
            font-weight: bold;
            color: gray;
        }
        a:hover{
            color: blue;
        }
        h1{
            font-size: 25px;
        }
        div{
            border: 1px solid black;
        }
        div.header{
            text-align: center;
        }
        div.main_container{
            display: flex;

        }
        
        div.left_content{
            width: 50%;
            height: 500px;
            padding: 20px;
            background-image: linear-gradient(10deg, #1B91FE,black);
            color: white;
        }
        div.right_content{
            width: 50%;
            height: 500px;
            padding: 20px;
            
        }
        .slider{
            
            display: flex;
            
            justify-content: center;
            align-items: center;
            height: 400px;
            background-image: url('Screenshot\ 2026-05-15\ 224819.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
        }
        
        .footer{
            text-align: center;
        }

        .dot_container{
            display: flex;
            border: none;
            height: 100%;
            align-items: flex-end;
            
            display: flex;
            gap: 20px
            ;
        }
        .dot_container div{
            border-radius: 50%;
            margin-bottom: 20px;
            background-color: gray;
            width: 20px;
            height: 20px;
        }


    